.container{
    display:flex;
    background-color: rgba(240, 248, 255, 0.918);
    position: absolute;
    width: max-content;
}

.graphs{
    
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    justify-content: space-around;
}
.areagraph{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}